.wrapper {
  position: relative;
  display: flex;
  min-width: 70vw;
  float: left;
  padding-top: 25px;
  color: white;
  border-color: linear-gradient(to bottom right, #349dda, #752ed1);
}
.glass {
  position: relative;
  right: 10px;
  bottom: 26px;
  color: white;
  height: 1px;
}

.search {
  border: 5px solid rgb(41, 41, 41);
  border-radius: 1px;
  height: 20px;
  width: 100%;
  padding: 2px 2px 2px 30px;
  outline: 0;
  color: grey;
  border: none;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  font-size: 1.7vh;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  background: #FFFFFF;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(226, 207, 213);
  border-image: initial;
  border-radius: 12px;
  flex: 1 1 0%;
  overflow: hidden;
}
@media screen and (min-width: 768px) {
  .search:hover,
  .search:focus {
    background: #F0F0F0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  }
}
@media screen and (max-width: 768px) {
  .wrapper {
    position: relative;

    min-width: 0vw;
    margin-bottom: 15px;
    float: left;
    color: white;
    border-color: linear-gradient(to bottom right, #349dda, #752ed1);
  }
  .glass {
    position: relative;
    right: 10px;
    bottom: 26px;
    color: white;
    height: 1px;
  }

  .search {
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    height: 30px;
    width: 100%;

    outline: 0;
    color: grey;
    border: none;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 12px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    background: #FFFFFF;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(226, 207, 213);
    border-image: initial;
    border-radius: 12px;
    flex: 1 1 0%;
    overflow: hidden;
    min-width: 70vw;
    float: center;
    align-content: center;
  }
}
